// colors
$color-white: #ffffff;
$color-light-gray: #cacaca;
$color-very-light-gray: #e9e9e9;
$color-medium-gray: #bcbcbc;
$color-gray: #999999;
$color-very-light-dark-gray: #666666;
$color-light-dark-gray: #4a4a4a;
$color-dark-gray: #333333;
$color-very-dark-gray: #202020;
$color-orange: #ff6e30;
$strong-orange: #bc572b;
$dark-orange: #ce4307;

// dimensions
$logo-width: 190px;
$gap: 30px;
$section-bottom-gap: 68px;

// fonts
$roboto: 'Roboto', sans-serif, Arial, Helvetica;
$ttfirstneue: 'TT Firs Neue', sans-serif, Arial, Helvetica;
