.header {
  height: 80px;
  background: $color-very-dark-gray;
  &__container {
    display: grid;
    grid-template-columns: 272px 1fr 130px;
    align-items: center;
    height: 100%;
  }
  &__menu {
    &--responsive {
      display: none;
    }
    &--burger-button {
      display: none;
    }
    &-list {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      margin-right: 82px;
      max-width: 753px;
    }
    &-link {
      padding: 0 5px;
      font-family: $ttfirstneue;
      color: $color-white;
      transition: color 0.3s ease, background 0.3s ease;
      &:hover {
        color: $color-orange;
      }
      &:focus {
        background: $strong-orange;
        outline: none;
      }
      &:active {
        color: $dark-orange;
        background: transparent;
      }
    }
  }

  &__search {
    &-form,
    &-button {
      display: none;
    }
  }
}
